<div id="app">
    <div id="container" class="absolute text-white 
    text-center w-full max-w-2xl px-6"
        style="top: 50%; left: 50%;transform: translate(-50%, -50%);
        width: 100%;">
        <h1 id="heading1" class="space-mono text-sm uppercase 
        tracking-wide opacity-0" style="transform: translateY(30px)">Crypster</h1>

        <p id="main-text" class="font-exo text-4xl
        opacity-0" style="transform: translateY(30px)">
            MAKING YOUR OWN CRYPTO HAS NEVER BEEN EASIER
        </p>

        <a id="action-btn" class="border px-4 py-2 rounded-lg 
        space-mono text-sm uppercase 
        mt-8
        hover:bg-white
        hover:text-gray-800
        inline-block
        opacity-0" style="transform: translateY(30px)">
            Create
        </a>
    </div>
</div>